.form {
    max-width: 300px;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.4rem;
}

.input {
    border: 1px solid rgb(88, 88, 88);
    padding: 0.5rem;
}