.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 2rem;
}

.userCard {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.062);
  padding: 1rem;
  background-color: white;
}

.userCard ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.userCard ul ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.userCard a {
  display: block;
  padding: 0.5rem 1rem;
  background-color: rgb(208, 252, 252);
  transition: 50ms;

}

.userCard a:hover {
  background-color: aqua;
}

.userCard li {
  margin: 0;
  padding: 0;
}