.notes {
    background-color: white;
    padding: 2rem;
}

.notes h1 {
    margin: 0;
    margin-bottom: 2rem;
}

.noteList {
    margin: 0;
    padding: 0;
}

.noteList li {
    list-style-type: none;
    margin: 0;
    padding: 2rem 0;
}

.noteList li h3 {
    margin: 0;
    margin-bottom: 0.4rem;
}

.noteList li p {
    margin-top: 0;
}

.noteList li:not(:last-child) {
    margin: 0;
    border-bottom: 1px solid rgb(201, 201, 201);
}